.products{
    display: flex;
    flex-wrap:wrap;
}
.products .item{
    width:calc(33% - 2rem);
    margin-right:2rem;
    margin-bottom: 1rem;
}

.products .item .image img{
    width:100%;
    height:250px;
    object-fit: cover;
}

@media screen and (max-width:767px){
    .products{
        flex-direction: column;
    }
    .products .item{
        width: 100%;
        margin-right: 0;
        border: 1px solid #eee6e6;
    }
    .products .item h4, .products .item p{
        padding-left:1rem;
        padding-right:1rem;
    }
}