.products{
    display: flex;
    flex-wrap:wrap;
}
.products .item{
    width:calc(33% - 2rem);
    margin-right:2rem;
    margin-bottom: 1rem;
}

.products .item .image img{
    width:100%;
    height:250px;
    object-fit: cover;
}